

body {
    /*background-color: #FBF2EA;*/
    background-color: white;
}

h1 {
    color: #DF744A;
    font-size: 30px;
    font-family: Merriweather, serif;
    text-align: center;
    position: relative;
    top: 40px;
    cursor: default;
}

img {
  max-width: 40%;
  display: block;
  margin: 0 auto;
}

h2 {
  color: #E08E79;
  font-family: Merriweather, serif;
  text-align: center;
  position: relative;
  top: 60px;
  cursor: default;

}

.flexContainer {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 50px;
}

.flexContainer > div {
  padding: 10px;
  margin: 5px;
}



.box {
  padding-top: 0px;
  text-align: center;
  font-family: Merriweather, monospace;
  font-size: 18px;
  color: white;
  min-width: 150px;
  max-width: 150px;
  position: relative;
  bottom: 15px;
  cursor: default;
  vertical-align: middle;

}

input[type="text"] {
    background: transparent;
    border: none;
    height: 30px;
    font-size: 16px;
    color: white;
    font-family: Merriweather, sans-serif;
  }

input:focus {
  outline: none;
}


#monBox {
  background-color: #FEDCD2;
  max-width: 150px;
}

#tuesBox {
  background-color: #DCB239;
  max-width: 150px;
}

#wedBox {
  background-color: #F9CDAD;
  max-width: 150px;

}

#thursBox {
  background-color: #C8C8A9;
  max-width: 150px;
}

#friBox {
  background-color: #83AF9B;
  max-width: 150px;
}


div {
  border-radius: 10px;
  padding-top: 0px;

}

.zoom:hover {
  transform: scale(1.1);
}


ul{
  margin: 0;
  padding: 0;
  min-height: 10px;
  color: white;

}

ul li {
  position: relative;
  padding: 12px 8px 12px 10px;
  font-size: 16px;
  font-family: Merriweather, sans-serif;
  transition: 0.2s;
  list-style-type:none;
  cursor: default;
}

ul li.checked {
  text-decoration: line-through;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  opacity: 0;
}

.close:hover {
  cursor: default;
  color: white;
  opacity: 1;

}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
}

.addBtn:hover {
  background-color: #bbb;
}
